* {
    box-sizing: border-box!important;
    outline: none;
    font-family: 'Varela Round', sans-serif;
}

.Nav {
    justify-content: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    z-index: 25;
}

.Nav-brand {
    z-index: 1000;
    color: #0061a8;
}

.Nav-icons{
    position: absolute;
    color: #fae0df;
    color: black;
    opacity: 0.5;
    z-index: 50;
}

@keyframes clockwise{
    from {
       transform: rotate(0deg);
    } to {
       transform: rotate(360deg);
    }
   }
   
   @keyframes anticlockwise{
       from {
          transform: rotate(0deg);
       } to {
          transform: rotate(-360deg);
       }
   }

@keyframes anim1 {
    0% {
        bottom: -100%;
        left: 20%;
    }

    60% {
        bottom: 105%;
        left: 60%;
    }

    70% {
        bottom: -5%;
        left: 70%;
    }

    90% {
        bottom: 105%;
        left: 95%;
    }

    100% {
        bottom: 5%;
        left: 110%;
    }
}

@keyframes anim2 {
    0% {
        left: -5%;
        top: -5%;
        
    }
    50%{
        left: 60%;
        top: 30%;
    }
    100% {
        left: 110%;
        top: 90%;
    }
}

@keyframes anim3 {
    0% {
        right: 32%;
        bottom: -75%;
    }
    33%{
        right: 48%;
        bottom: 105%;
    }
    55%{
        right: 60%;
        bottom: -4%;
    }
    100%{
        right: 87%;
        bottom: 107%;
    }
}

@keyframes anim4{
    0%{
        bottom: 100%;
        left: 24%;
    }
    60%{
        bottom: -5%;
        left: 65%;
    }
    75%{
        bottom: 105%;
        left: 80%;
    }
    100%{
        bottom: -5%;
        left: 100%;
    }
}

@keyframes anim5{
    0%{
        bottom: 105%;
        right: 5%;
    }
    30%{
        bottom: -5%;
        right: 35%;
    }
    75%{
        bottom: 103%;
        right: 85%;
    }
    100%{
        bottom: -25%;
        right: 100%;
    }
}

@keyframes anim6 {
    0% {
        right: -5%;
        bottom: -5%;
        
    }
    50%{
        right: 50%;
        bottom: 105%;
    }
    100% {
        right: 110%;
        bottom: -5%;
    }
}

@keyframes anim7{
    0%{
        bottom: -50%;
        right: 40%;
    }
    25%{
        bottom:95%;
        right: 20%;
    }
    50%{
        bottom: 50%;
        right: 0%;
    }
    100%{
        bottom: -25%;
        right: 40%;
    }
}

@keyframes anim8{
    0%{
        bottom: -50%;
        left: 40%;
    }
    25%{
        bottom:95%;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 0%;
    }
    100%{
        bottom: -45%;
        left: 40%;
    }
}

@keyframes anim9{
    0%{
        top: -75%;
        left: 32%;
    }
    30%{
        top: 105%;
        left: 53%;
    }
    65%{
        top: -4%;
        left: 75%;
    }
    100%{
        top: 107%;
        left: 97%;
    }
}

#n1 {
    animation: anim1 18s linear infinite both, clockwise 9s 1.5s infinite both;
}

#n2 {
    animation: anim2 15s linear infinite both, clockwise 9s -2s infinite both;
}

#n3 {
    animation: anim3 10s linear infinite both, anticlockwise 7s -2s infinite both;
}

#n4 {
    animation: anim4 18s linear infinite both, clockwise 12s infinite both;
}

#n5 {
    animation: anim5 18s linear infinite both, anticlockwise 13s infinite both;
}

#n6 {
    animation: anim6 18s linear infinite both, anticlockwise 9s -2s infinite both;
}

#n7 {
    animation: anim7 18s linear infinite both, clockwise 8s infinite both;
}

#n8 {
    animation: anim8 18s linear infinite both, anticlockwise 8s infinite both;
}

#n9{
    animation: anim9 18s linear infinite both, anticlockwise 8s infinite both;
}

.login-signup-button, .enter-buttons{
    border: none;
    outline: none !important;
    border-radius: 5px;
}
.login-signup-button{
    background-color: white;
    box-shadow: 0px 0px 7px 0 grey;
}

.login-signup-button i{
    color: #0061a8;
}

.login-signup-button:hover, .login-signup-button:hover i, .enter-buttons{
    background-color: #0061a8;
    color: white
}

.enter-buttons:hover{
    background-color: #1a508b;
}

.noscroll{
    overflow: hidden;
}

.myModalHolder{
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    overflow: hidden;
    z-index: 1500;
    backdrop-filter: blur(5px);
}

.myModal{
    opacity: 1;
    transform: translateY(-100vh);
    background-color: white;
    border: none;
    border-radius: 17px;
    margin-top: 25vh;
    height: min-content;
    width: 100%;
}

.Modal-open{
    transition: transform 600ms linear -200ms, height 250ms linear 150ms;
}
.Modal-close{
    transition: transform 600ms linear;
}

.Close, .back-arrow{
    color: #0061a8;
    cursor: pointer;
    margin-top: -0.7rem;
    opacity: 0.5;
    box-shadow: 0.5px 0.5px 3px 0 grey;
    padding: 10px;
}
.Close{
    float: right;
    border-radius: 100%;  
    margin-right: -0.7rem;
}

.back-arrow{
    float: left;
    border-radius: 10px;
    width: 4rem;
    margin-left: -0.7rem;
}

.Close:hover, .back-arrow:hover{
    opacity: 1;
}

#login-box{
    box-sizing: border-box!important;
    max-width: 350px; 
}

#signup-box{
    max-width: 400px;
    margin-top: 15vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.signup-child-box{
    box-sizing: border-box!important;
    position: absolute;
    top: 0;
    left: 0;
    padding: inherit;
    transition: left 0.5s linear, opacity 0.3s linear;
    /* min-height: fit-content!important; */
    /* max-height: fit-content!important; */
    width: 100%;
    opacity: 0;
}

#signup3{
    max-height: 70vh;
    overflow-y: scroll!important;
}

.signup-active{
    opacity: 1;
    top: auto;
}

.placeholder{
    float: left;
    font-size: 0.75rem;
    color: #0061a8;
    font-weight: bold;
}

input, textarea, select{
    background-color: white;
    box-sizing: border-box!important;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px 0 grey;
    clear: both;
}

input:active, input:focus, textarea:active, textarea:focus{
    box-shadow: 0 0 6px 0 grey;
}

textarea{
    resize: none;
}

label{
    text-align: left;
    display: inline-block;
    overflow-wrap: break-word;
    white-space: normal!important;
    word-wrap: break-all!important;
    vertical-align: middle!important;
}

.myRadio{
    position: relative;
    box-shadow: none;
}

.myRadio:active, .myRadio:focus{
    box-shadow: none;
}

.myRadio:after{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 0 3px 0 grey;
    content: '';
}

.myRadio:checked:after{
    background-color: #0061a8;
}

#motive-text{
    font-size: 1.2rem;
    line-height: 1.7em;
    text-align: center;
}

.Cards{
    text-align: center;
    box-sizing: border-box!important;
}

.header-holder{
    text-align: center;
}

.header{
    display: inline-block;
    vertical-align: middle;
    color: #0061a8;
}

.header-icon{
    background-color: #0061a8;
    color: white;
    border-radius: 8px;
    padding: 0.75rem 0.95rem;
    box-shadow: 0 0 5px grey;
}

.myCard{
    box-sizing: border-box!important;
    white-space: normal;
    display: inline-block;
    position: absolute;
    top: 0;
    min-height: fit-content!important;
    max-height: fit-content!important;
    width: fit-content;
    transition: left 0.6s linear;
}

.card-active{
    left: 0;
    transition: left 0.6s linear 0.05s;
}

.carousel-nav{
    position: absolute;
    top: 50%;
    cursor: pointer;
    opacity: 0.5;
}

.carousel-nav:hover{
    opacity: 1;
}

#carousel-nav-left{
    left: 14px;
}

#carousel-nav-right{
    right: 14px;
}

.slide-left{
    left: -100%!important;
}

.slide-right{
    left: 100%!important;
}

img{
    margin-top: -5px;
    border-radius: 50%;
}

.content-box{
    font-size: 1.2rem;
    line-height: 1.7rem;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 grey;
}

#footer{
    background-color: #1a508b;
    margin-top: 9rem;
    justify-content: center;
    transform: translateY(rem);
}

#contact-us{
    position: relative;
    top: -7rem;
    border-radius: 15px;
    box-shadow: 0 0 10px 0 grey;
    background-color: white;
}

#copyright{
    position: relative;
    bottom: 2rem;
    color: #bbbbbb
}

@media only screen and (max-width: 768px){
    #n1, #n5, #n7{
        animation-duration: 10s;
    }
    #n2, #n3{
        animation-duration: 7s;
    }
    .Modal-open{
        transition-duration: 500ms;
        transition-delay: -100ms;
    }
    .Modal-close{
        transition-duration: 500ms;
    }
    #location{
        text-align: left;
        position: relative;
    top: -5rem;
    }
    #social-icons{
        text-align: center;
    }
}
