* {
    box-sizing: border-box!important;
    outline: none!important;
    font-family: 'Varela Round', sans-serif;
}

.Nav {
    justify-content: center;
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
    z-index: 25;
}

.Nav-brand {
    z-index: 1000;
    color: #0061a8;
}

.Nav-icons{
    position: absolute;
    color: #fae0df;
    color: black;
    opacity: 0.5;
    z-index: 50;
}

@keyframes clockwise{
    from {
       transform: rotate(0deg);
    } to {
       transform: rotate(360deg);
    }
   }
   
   @keyframes anticlockwise{
       from {
          transform: rotate(0deg);
       } to {
          transform: rotate(-360deg);
       }
   }

@keyframes anim1 {
    0% {
        bottom: -100%;
        left: 20%;
    }

    60% {
        bottom: 105%;
        left: 60%;
    }

    70% {
        bottom: -5%;
        left: 70%;
    }

    90% {
        bottom: 105%;
        left: 95%;
    }

    100% {
        bottom: 5%;
        left: 110%;
    }
}

@keyframes anim2 {
    0% {
        left: -5%;
        top: -5%;
        
    }
    50%{
        left: 60%;
        top: 30%;
    }
    100% {
        left: 110%;
        top: 90%;
    }
}

@keyframes anim3 {
    0% {
        right: 32%;
        bottom: -75%;
    }
    33%{
        right: 48%;
        bottom: 105%;
    }
    55%{
        right: 60%;
        bottom: -4%;
    }
    100%{
        right: 87%;
        bottom: 107%;
    }
}

@keyframes anim4{
    0%{
        bottom: 100%;
        left: 24%;
    }
    60%{
        bottom: -5%;
        left: 65%;
    }
    75%{
        bottom: 105%;
        left: 80%;
    }
    100%{
        bottom: -5%;
        left: 100%;
    }
}

@keyframes anim5{
    0%{
        bottom: 105%;
        right: 5%;
    }
    30%{
        bottom: -5%;
        right: 35%;
    }
    75%{
        bottom: 103%;
        right: 85%;
    }
    100%{
        bottom: -25%;
        right: 100%;
    }
}

@keyframes anim6 {
    0% {
        right: -5%;
        bottom: -5%;
        
    }
    50%{
        right: 50%;
        bottom: 105%;
    }
    100% {
        right: 110%;
        bottom: -5%;
    }
}

@keyframes anim7{
    0%{
        bottom: -50%;
        right: 40%;
    }
    25%{
        bottom:95%;
        right: 20%;
    }
    50%{
        bottom: 50%;
        right: 0%;
    }
    100%{
        bottom: -25%;
        right: 40%;
    }
}

@keyframes anim8{
    0%{
        bottom: -50%;
        left: 40%;
    }
    25%{
        bottom:95%;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 0%;
    }
    100%{
        bottom: -45%;
        left: 40%;
    }
}

@keyframes anim9{
    0%{
        top: -75%;
        left: 32%;
    }
    30%{
        top: 105%;
        left: 53%;
    }
    65%{
        top: -4%;
        left: 75%;
    }
    100%{
        top: 107%;
        left: 97%;
    }
}

#n1 {
    animation: anim1 18s linear infinite both, clockwise 9s 1.5s infinite both;
}

#n2 {
    animation: anim2 15s linear infinite both, clockwise 9s -2s infinite both;
}

#n3 {
    animation: anim3 10s linear infinite both, anticlockwise 7s -2s infinite both;
}

#n4 {
    animation: anim4 18s linear infinite both, clockwise 12s infinite both;
}

#n5 {
    animation: anim5 18s linear infinite both, anticlockwise 13s infinite both;
}

#n6 {
    animation: anim6 18s linear infinite both, anticlockwise 9s -2s infinite both;
}

#n7 {
    animation: anim7 18s linear infinite both, clockwise 8s infinite both;
}

#n8 {
    animation: anim8 18s linear infinite both, anticlockwise 8s infinite both;
}

#n9{
    animation: anim9 18s linear infinite both, anticlockwise 8s infinite both;
}
